name: "Build and Release"

on:
  push:
    paths:
      - 'C.H.E.S.S/VERSION' # Updated path

env:
  GODOT_VERSION: "4.5"
  ITCH_USER: "K4-KC"
  ITCH_GAME: "chess"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [windows, linux, macos]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Read Version
        id: get_version
        run: echo "VERSION=$(cat C.H.E.S.S/VERSION)" >> $GITHUB_OUTPUT 

      - name: Godot Export
        uses: firebelley/godot-export@v5.2.1
        with:
          godot_executable_download_url: "https://github.com/godotengine/godot/releases/download/${{ env.GODOT_VERSION }}-stable/Godot_v${{ env.GODOT_VERSION }}-stable_linux.x86_64.zip"
          godot_export_templates_download_url: "https://github.com/godotengine/godot/releases/download/${{ env.GODOT_VERSION }}-stable/Godot_v${{ env.GODOT_VERSION }}-stable_export_templates.tpz"
          relative_project_path: "./C.H.E.S.S" 
          archive_output: true
          export_preset: ${{ matrix.platform }}
          use_preset_export_path: true 
          additional_args: "--headless"
        timeout-minutes: 25

      - name: Publish to Itch.io
        uses: yeslayla/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_API_KEY }}
          CHANNEL: ${{ matrix.platform }}
          ITCH_GAME: ${{ env.ITCH_GAME }}
          ITCH_USER: ${{ env.ITCH_USER }}
          # RELATIVE to the project path
          PACKAGE: "C.H.E.S.S/exports/${{ matrix.platform }}.zip" 
          VERSION: ${{ steps.get_version.outputs.VERSION }}

      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        if: matrix.platform == 'windows' 
        with:
          tag_name: v${{ steps.get_version.outputs.VERSION }}
          name: Release v${{ steps.get_version.outputs.VERSION }}
          generate_release_notes: true
          files: C.H.E.S.S/exports/*.zip